body {
    font-family: Arial, sans-serif;
    margin: 5% 10%;
    font-size: 14px;
    background: url("../imagens/desenho-loucao.jpg");
    background-size: cover;
}

table {
    margin: 50px auto;
    width: 50%;
    border-collapse: collapse;
    table-layout: fixed;
    border: 1px solid black;
}

th {
    background-color: #6b6b6b;
    height: 30px;
    font-size: 16px;
    color: white;
    border: 1px solid black;
}

td {
    text-align: center;
    border: 1px solid black;
}

h1 {
    font-family: "Times New Roman", serif;
    font-size: 28px;
    color: limegreen;
}